/** 详情页Tabs样式 */
.detail-tabs {
  .ant-tabs-nav {
    padding-left: 10px;
    padding-right: 10px;
    .ant-tabs-tab {
      .ant-tabs-tab-btn {
        align-items: center;
        line-height: 1.6rem;
        display: flex;
        .iconify {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
      }
    }
  }
  .ant-tabs-content-holder {
    display: none;
  }
}

/** 图片的安全裁剪 */
.img-content-clip {
  width: 100%;
  height: 100%;
  overflow: clip;
  object-fit: contain;
  overflow-clip-margin: content-box;
}

.drawer-header {
  color: hsl(var(--primary));
  background: hsl(var(--primary) / 25%);
}

.ant-segmented-item-selected {
  background-color: hsl(var(--primary)) !important;
  color: white !important;
}

.ant-segmented-item-label {
  text-overflow: clip !important;
  margin: 0 80px !important;
}
